@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

img {
    width: 100%;
    height: 100%;
}

html {
    font-size: 62.5%;
}

* {
    font-family: 'Open Sans';
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    max-width: 1100px;
}

.header__wrapper {
    margin-bottom: 6rem;
}

.header__title {
    font-weight: 800;
    font-size: 6.4rem;
    letter-spacing: 0.3em;
    text-align: center;
    margin-top: 5rem;
    cursor: pointer;
}

.header__title:hover {
    color: #FE4D17;
}

.search__line {
    margin: 3rem;
    display: flex;
    justify-content: center;
}

.search__input {
    width: 50rem;
    height: 3rem;
    border: 1px solid rgba(254, 77, 23, 0.6);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
    font-weight: 400;
    font-size: 1.4rem;
    padding-left: 2rem;
    margin-right: 0;
}

.search__input:focus {
    border: 1px solid rgba(254, 77, 23, 0.6);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none; 
    outline: 0;
}

.button__search {
    margin-left: 0;
    border: none;
    cursor: pointer;
    transform: translateX(-1rem);
    border-radius: 8px;
    background-color: #FE4D17;
    width: 3rem;
}

.search__img {
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(18%);
}

.main {
    display: flex;
}

.films_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.film {
    flex: 0 2 25%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.logo__film {
    width: 20rem;
    border-radius: 2rem;
}

.title__film {
    margin-bottom: 3rem;
    font-weight: 800;
    font-size: 1rem;
    text-align: center;
}

.poster_path {
    width: 20rem;
    height: 30rem;
    float: right;
}

.overview {
    max-width: 35rem;
}

.fixed__info{
    border: 1rem solid #FE4D17;
    background-color:#fff;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    padding: 5rem 10rem;
    display: flex;
    display: none;
    
}

.info {
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
    margin: 0 auto;
}

span {
    font-weight: 400;
    font-size: 1.2rem;
}

p {
    font-weight: 800;
    font-size: 1.2rem;
    margin: 0 0 1rem;
    
}

.title {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.arrow__btn {
    display: flex;
    margin-bottom: 4rem;
}

.btn__more {
    font-size: 2rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: #fff;
    border: 0.3rem solid #FE4D17;
}

.btn__more:hover {
    background-color: #FE4D17;
}

.not__found {
    font-size: 3rem;
}

.erorr {
    display: flex;
}